--extra-index-url https://download.pytorch.org/whl/cu124
cloud-files==4.29.0
cut-cross-entropy[transformers] @ git+https://github.com/apple/ml-cross-entropy.git@058369b06bc0c465fbf0ac372c3a8e18d62df52f
fsspec==2024.9.0
hf-transfer<0.2.0
pyarrow>=15.0.0,<19.0.0
rich>=13.0.0,<14
s3fs==2024.9.0
snowflake-connector-python[pandas]==3.12.3
torch==2.8.0
truefoundry==0.11.12
