--extra-index-url https://download.pytorch.org/whl/cu121
cloud-files==4.29.0
fsspec==2024.9.0
hf-transfer<0.2.0
pyarrow>=15.0.0,<19.0.0
rich>=13.0.0,<14
s3fs==2024.9.0
snowflake-connector-python[pandas]==3.12.3
torch==2.3.1+cu121
torchao==0.6.1+cu121
truefoundry==0.5.2rc1
unsloth[cu121-ampere-torch230] @ git+https://github.com/unslothai/unsloth.git@9dc399a6b6625ee40835c5eab361426d3c5d4abb
